# NAME - PAWABA RAJENDRA  MAHAJAN

# DATA SCIENCE INTERNSHIP @ CIPHERBYTE TECHNOLOGIES

# TASK 2

# PROJECT NAME - SPAM EMAIL DETECTION WITH MACHINE LEARNING

In [1]:
from IPython.display import Image
Image(url="https://www.pantechelearning.com/wp-content/uploads/2021/12/Spam-classification.png",width=500)

# Problem Statement

In [ ]:
We’ve all been the recipient of spam emails before. Spam mail, or junk mail, is a type of email that is sent to a massive number of users at one time, frequently containing cryptic messages, scams, or most dangerously, phishing content.

In this Project, use Python to build an email spam detector. Then, use machine learning to train the spam detector to recognize and classify emails into spam and non-spam. Let’s get started!

# Importing the Libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Data Collection & Pre-Processing

In [3]:
raw_mail_data = pd.read_csv(r"C:\Users\ASUS\Downloads\Spam Email Detection - spam.csv",encoding='latin')

In [4]:
raw_mail_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will ï¿½_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
raw_mail_data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [6]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [7]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [8]:
mail_data.shape

(5572, 5)

In [9]:
mail_data = mail_data.rename(columns={'v1':'Category',
                                    'v2':'Message'})
mail_data.head()

,Category,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

# Label Encoding

In [ ]:
Label encoding is a process of converting categorical or textual data into numerical labels. In machine learning and data analysis, many algorithms require numerical inputs, and label encoding provides a way to represent categorical data in a format that can be easily understood by these algorithms.

In [36]:
mail_data.loc[mail_data['Category'] == 'spam','Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [13]:
X = mail_data['Message']
Y = mail_data['Category']

print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568              Will ï¿½_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [14]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

# Splitting the data into training data & test data

In [19]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.2, random_state = 3)

In [16]:
print(X.shape)

(5572,)

In [17]:
print(x_train.shape)

(4457,)

In [18]:
print(x_test.shape)

(1115,)

# Feature Extraction

In [ ]:
Feature Extraction helps to convert your text data into numerical values. If you feed all these strings to your logistic regression model it doesn't understand anything so we need to convert this all this text data into meaningful numerical values

In [21]:
feature_extraction = TfidfVectorizer(min_df = 1,stop_words = 'english', lowercase =True)

x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

In [22]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [23]:
y_train

3075    1
1787    1
1614    1
4304    1
3266    1
       ..
789     1
968     1
1667    1
3321    1
1688    1
Name: Category, Length: 4457, dtype: int32

In [24]:
y_test

2632    1
454     0
983     1
1282    1
4610    1
       ..
4827    1
5291    1
3325    1
3561    1
1136    0
Name: Category, Length: 1115, dtype: int32

In [25]:
print(x_train)

3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
4304                Yo come over carlos will be here soon
3266                    Ok then i come n pick u at engin?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: Message, Length: 4457, dtype: object

In [26]:
print(x_train_features)

  (0, 730)	0.3219352588930141
  (0, 3967)	0.2410582143632299
  (0, 4284)	0.3891385935794867
  (0, 6589)	0.20296878731699391
  (0, 3377)	0.3219352588930141
  (0, 2112)	0.38613577623520473
  (0, 3126)	0.440116181574609
  (0, 3252)	0.25877035357606315
  (0, 3371)	0.21807195185332803
  (0, 4501)	0.2909649098524696
  (1, 4049)	0.380431198316959
  (1, 6861)	0.4306015894277422
  (1, 6407)	0.4769136859540388
  (1, 6432)	0.5652509076654626
  (1, 7435)	0.35056971070320353
  (2, 922)	0.4917598465723273
  (2, 2099)	0.42972812260098503
  (2, 3905)	0.40088501350982736
  (2, 2216)	0.413484525934624
  (2, 5814)	0.4917598465723273
  (3, 6130)	0.4903863168693604
  (3, 1589)	0.5927091854194291
  (3, 1832)	0.3708680641487708
  (3, 7445)	0.5202633571003087
  (4, 2521)	0.7419319091456392
  :	:
  (4452, 2112)	0.31002103760284144
  (4453, 988)	0.6760129013031282
  (4453, 7265)	0.5787739591782677
  (4453, 1752)	0.45610005640082985
  (4454, 3019)	0.42618909997886
  (4454, 2076)	0.3809693742808703
  (4454, 3078)	0.34475593009514444
  (4454, 1991)	0.4166919007849217
  (4454, 1038)	0.31932060116006045
  (4454, 7338)	0.31166263834107377
  (4454, 5358)	0.42618909997886
  (4455, 1137)	0.38998123077430413
  (4455, 6423)	0.38998123077430413
  (4455, 6351)	0.25697343671652706
  (4455, 2754)	0.3226323745940581
  (4455, 7350)	0.2915949626395065
  (4455, 7399)	0.3028481995557642
  (4455, 2098)	0.3136468384526087
  (4455, 4239)	0.30616657078392584
  (4455, 3751)	0.16807158405536876
  (4455, 4761)	0.35860460546223444
  (4456, 6107)	0.5304350313291551
  (4456, 6123)	0.5304350313291551
  (4456, 1375)	0.4460036316446079
  (4456, 4545)	0.48821933148688146

# Training the Model

# Logistic Regression

In [27]:
model = LogisticRegression()

In [28]:
model.fit(x_train_features, y_train)

LogisticRegression()

# Evaluating the trained model

In [29]:
prediction_on_training_data = model.predict(x_train_features)
accuracy_on_training_data = accuracy_score(y_train, prediction_on_training_data)

In [30]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9661207089970832

In [31]:
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data = accuracy_score(y_test, prediction_on_test_data)

In [32]:
print('Accuracy on test data : ', accuracy_on_test_data)

Accuracy on test data :  0.9614349775784753

# Building a Predictive System

In [35]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

input_data_features = feature_extraction.transform(input_mail)

prediction = model.predict(input_data_features)
print(prediction)

if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

[1]
Ham mail